.about {
  background-color: white;

  &--light {
    background-color: #333;
  }
}

.content {
  max-width: 90vw;
  align-items: center;
  justify-content: center;
  padding: 1.875em 0;
  margin: 0 auto;

  @media (min-width: 1100px) {
    max-width: 60vw;
  }

  h1 {
    color: #c94b62;
  }

  h4,
  li,
  p {
    color: #333;
  }

  p {
    font-weight: 500;
  }

  &--light {
    @extend .content;

    h4,
    li,
    p {
      color: #f7fffd;
    }
  }
}
