.button {
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  color: white;
  cursor: pointer;

  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);

  font-size: 1.25rem;
  height: 2.5em;

  display: inline-flex;
  box-shadow: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    a {
      color: #0a0a0a;
    }

    background-color: white;
    border-color: white;
    color: #0a0a0a;
  }

  &--light {
    @extend .button;
    border-color: #0a0a0a;
    color: #0a0a0a;

    a {
      color: #0a0a0a;
    }

    &:hover {
      a {
        color: white;
      }

      background-color: #0a0a0a;
      border-color: #0a0a0a;
      color: white;
    }
  }
}
