.background {
  background-color: white;
  height: 100%;

  &--light {
    @extend .background;
    background-color: #333;
  }
}

.content {
  max-width: 60vw;
  align-items: center;
  padding: 1.875em 0;
  margin: 0 auto;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 3em;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #333;
    color: #333;
  }

  h2,
  p {
    color: #333;
  }

  &--light {
    @extend .content;

    h2,
    p {
      color: #f7fffd;
    }

    a {
      border: 2px solid #f7fffd;
      color: #f7fffd;
    }
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 0.6em;
}
