.icon {
  float: left;
  background: transparent;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #c94b62;
  padding: 0 0 4px 0;

  i {
    color: #c94b62;
    font-size: 32px;
  }

  &:last-child {
    margin-left: 0.825em;
  }
}
